body {
  padding-top:10%;
  background: #eee;
}
#error-img {
  position: fixed;
  top: -40%;
  left: -40%;
  width: 180%;
  height: 180%;
  display:none;
}
#error-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
#error .main-icon .uxicon {
  font-size:72px;
  color:inherit;
}
#error h1 {
  margin-bottom:20px; text-shadow: 1px 1px black; 
}

/*for mobile*/
@media only screen and (max-width: 600px){
  .mobile-down {position: relative; top: 6em;}
}